.servicesWrapper{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 5vw 0 0 0;
}
.services{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.servicesLeft{
    width: 50%;
    height: 100%;
}
.servicesLeft>h1{
    font-size: 10vw;
    /* border: 2px solid red; */
    line-height: 4vw;
    margin: 2vw 0 0 0;
}
.servicesLeft>h1>span{
    font-size: 3vw;
}
.servicesLeft>button{
    width: 13vw;
    height: 3vw;
    font-size: 1.5vw;
    background: #37806B;
    color: white;
    border: none;
    border-radius: 2vw 0 2vw 0;
    margin: 2vw 0 0 ;
}
.servicesRight{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicesRight>img{
    width: 40vw;
}